/* Add the font face for Proxima Nova font */
@font-face {
  font-family: 'Proxima Nova';
  src: url('/images/Proxima Nova Font.otf') format('otf');
}

body {
  width: 300px;
  font-family: "Proxima Nova";
  background-color: #8FB996;
  padding: 10px;
  margin: 0;
}

.container {
  margin: 0 auto;
  background-color: #709775;
  padding: 20px;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  display: block;
  margin: 0 auto 0px;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.input-group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
  color: #54494B;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
textarea,
button {
  width: 100%;
  padding: 5px;
  border: 1px solid #54494B;
  border-radius: 5px;
  margin: 0 auto;
  box-sizing: border-box; 
}

textarea {
  resize: vertical;
}

.label-bold {
  font-size: 14px;
}

button {
  background-color: #54494B;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 15px;
  margin: 0 auto;
}

.instructionsButtonClass {
  background-color: #54494B;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 5px;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 0px;
}

button:hover {
  background-color: #8FB996;
}

.savedCodesList {
  margin-top: -10px;
  display: block;
  color: #54494B;
  font-size: 13px;
  margin-bottom: 5px;
}

.savedCodesHeader {
  margin-top: -10px;
  font-size: 14px;
  color: #54494B;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 10px;
  font-size: 12px;
}

.instructions-container {
  display: none;
  padding: 10px;
  border: 1px solid #54494B;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #709775;
  color: white;
  font-size: 14px;
}
